.sidebar {
  width: 280px;
  min-height: 100vh;
  background: #0b1020;
  border-right: 1px solid #1b2238;
  padding: 30px 22px;
  display: flex;
  flex-direction: column;
}

.logo {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo-img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.logo h2 {
  color: white;
  margin: 0;
  font-size: 28px;
}

.logo p {
  color: #8b93a7;
  margin-top: 4px;
  font-size: 13px;
}

.menu-title {
  margin-top: 40px;
  margin-bottom: 20px;
  color: #586175;
  font-size: 13px;
  letter-spacing: 1px;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.menu-item {
  height: 54px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 0 18px;
  color: #c6c9d3;
  cursor: pointer;
  transition: 0.3s;
}

.menu-item svg {
  font-size: 20px;
}

.menu-item:hover {
  background: #151d31;
}

.menu-item.active {
  background: linear-gradient(
    90deg,
    #7c3aed,
    #9333ea
  );
  color: white;
}

.badge {
  margin-left: auto;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #7c3aed;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.profile-card {
  margin-top: auto;
  background: #12192b;
  border: 1px solid #232c42;
  border-radius: 20px;
  padding: 16px;
  display: flex;
  gap: 15px;
  align-items: center;
}

.profile-card img {
  width: 52px;
  height: 52px;
  border-radius: 50%;
}

.profile-card h4 {
  color: white;
  margin: 0;
}

.profile-card p {
  color: #8b93a7;
  margin-top: 4px;
  font-size: 13px;
}
.sidebar {
  width: 280px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: #0b1020;
  border-right: 1px solid #1b2238;
  padding: 30px 22px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
.sidebar {
  width: 250px;
}

.main-content {
  margin-left: 230px;
}
.menu-item {
  text-decoration: none;
  color: white;
}